.factoryinfo-label
{
    float:left;
    display:inline-block;
    font-weight:250;
    font-size: 12px;
    line-height:20px;
    text-align:right
}
.factoryinfo-input-block{
    display: inline-block;
}
.factoryinfo-form-item{
    display: inline-block;
}
.factoryinfo-input
{
    FONT-SIZE: 12px;
    width: 120px;
    HEIGHT: 20px;
    border-color: #898989;
    border-width: 1px;
    border-style: solid;
}
.factoryinfo-form{
    display: inline-block;
}
